# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.flutter-*

# Android related
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
*.iml

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/.generated/

# macOS related
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Runner.xcworkspace/
macos/Pods/

# Windows related
windows/flutter/ephemeral/

# Linux related
linux/flutter/ephemeral/

# Web related
web/.dart_tool/
web/build/

# VS Code related
.vscode/
.idea/

# Xcode related
*.xcworkspace
*.xcuserstate
*.xcuserdata

# Other
*.log
*.tmp
*.swp
.DS_Store